.sidenav {
  width: 25%;
  height: 100vh;
  max-width: 220px;
  min-width: 200px;

  transform: translateX(calc(-100% - 10px));
  position: fixed;
  z-index: 10;

  background-color: var(--bg-primary);
  box-shadow: -2px -5px 10px #00000069;

  transition: transform 0.5s ease;
  height: 100%;

  &-active {
    display: block;
    transform: translateX(0);
  }

  &-box {
    position: sticky;
    top: 60px;
    height: 100%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 12px 5px;
    text-decoration: none;
    box-sizing: border-box;

    color: inherit;
    width: 100%;
    height: 48px;
    background-color: var(--bg-primary);
    fill: var(--text-color);

    cursor: pointer;

    svg,
    img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      margin-right: 5px;
    }

    &:hover {
      transition: filter 0.25s;
      filter: brightness(0.7);
    }
  }

  &__button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    border-radius: 50%;

    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;

    svg {
      margin-right: 0;
    }
  }
}

#enterprise-workspace {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;

  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

@media screen and (min-width: 1000px) {
  .sidenav {
    display: block;
    transform: translateX(0);

    position: static;
    transition: none;
    height: auto;

    &__button {
      display: none;
    }
  }
}
