.nav {
  button.nav__link {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;

    &:active {
      transform: none;
    }

    &:hover {
      filter: none;
    }
  }
  &__link {
    color: inherit;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    padding: 10px 15px;

    width: 100%;
  }
}
