.compose {
  height: 85vh;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    padding: 10px 15px;
    box-sizing: border-box;
  }

  &__button {
    justify-content: center;
  }
}

@media screen and (min-width: 400px) {
  .compose {
    &__form {
      box-shadow: 0 5px 10px #00000030;
    }
  }
}
