.header {
  background-color: var(--bg-secondary);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 -2px 10px #00000069;
  backdrop-filter: blur(2px);

  -webkit-backdrop-filter: blur(2px);

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    width: 40px;
  }
}
