#enterprise-workspace {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;

  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
