.historic {
  height: 90vh;

  &-box {
    display: flex;
    flex-direction: column;

    padding: 10px;

    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }

  &__title {
    display: flex;

    &-text {
      margin: 0;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
