:root {
  --bg-primary: #f9f9f9;
  --bg-secondary: #eee;

  --white: #f9f9f9;
  --black: #000;

  --text-color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-primary);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1450px;
}

@media screen and (min-width: 700px) {
  .container {
    width: 85%;
  }
}
