[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn main:app"
dev = "uvicorn main:app --reload"
init_data = "python scripts.py"

[packages]
pandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
bcrypt = "*"
openpyxl = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "*"
