[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn main:app --host 0.0.0.0 --port 8800"
dev = "uvicorn main:app --reload"
init_data = "python scripts.py"

[packages]
pandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
bcrypt = "*"
openpyxl = "*"
python-jose = "*"
python-multipart = "*"
dropbox = "*"
psycopg2 = "*"
fastapi-pagination = {extras = ["all"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "*"
